// 색상 변수
$color-red: #C20F2F;
$color-blue: #004E96;
$color-yellow: #FCAF17;
$color-green: #7FC241;
$color-skyblue: #00BAF0;
$color-gray: #D9D9D9;
$color-dark: #222; //??

// 폰트
$font-main: 'Quicksand', sans-serif;