@import "../styles/main";

.login-page .nav {  /* ✅ 로그인 페이지일 때 메뉴 숨기기 */
  display: none;
}

.login-page-wrapper {
  font-family: $font-main;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F9F9F9; // 살짝 회색

  .header { 
    background-color: inherit;
  }
}

.login-content {
  flex: 1;
  display: flex;
  flex-direction: column; /* ✅ 추가 */
  justify-content: center; /* ✅ 수직 가운데 정렬 */
  align-items: center; /* ✅ 수평 가운데 정렬 */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-main;
  background-color: #f4f4f4;
  height: 100vh;
  padding-top: 40px;
}

.login-card {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-card h2 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}


.login-label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.login-label-row label {
  font-size: 14px;
  font-weight: 500;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.password-wrapper {
  display: flex;
 flex-direction: column;
  gap: 6px;
}

.password-label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-label-row label {
  font-size: 14px;
  font-weight: 500;
}

.password-wrapper input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

.forgot-link {
  font-size: 12px;
  color: $color-red;
  text-decoration: none;
  
}

.login-btn {
  background-color: $color-blue;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.or-divider {
  text-align: center;
  font-size: 14px;
  color: #444;
}

.google-btn {
  background-color: $color-red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
   flex-direction: row-reverse;
}

.google-btn span {
  display: inline-block;
}

.google-btn img {
  width: 18px;
  height: 18px;
}

.signup-text {
  text-align: center;
  font-size: 12px;
}

.signup-text a {
  color: $color-skyblue;
  text-decoration: none;
  font-weight: bold;
}

.terms-text {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
  color: #333;
}

.terms-text a {
  color: #333;
  font-weight: bold;
  text-decoration: underline;
}

//아래부분 Term 디자인
.terms-text {
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
  color: #444;

  .terms-link {
    color: #d92a2a;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}