@import "../styles/variables";

.signup-page-wrapper {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #F9F9F9;
}

.signup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.signup-card {
  background: #fff;
  margin-top: -65px;
  padding: 30px 20px;   /* 기존 40px 30px → 30px 20px */
  border-radius: 8px;    /* 선택: 조금 더 작게 */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  width: 350px;          /* 기존 400px → 320px */
  display: flex;
  flex-direction: column;
  gap: 10px;             /* 기존 15px → 10px */
}

.signup-card h2 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.signup-card label {
  font-size: 14px;
  margin-bottom: 4px;
}

.signup-card input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.signup-btn {
  background-color: #c62828;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-btn:hover {
  background-color: #a51f1f;
}



