@import "../styles/main";

.footer {
  background-color: $color-gray;
  padding: 2rem 3rem 1rem 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: $font-main;
  font-size: 0.95rem;

  .left {
    flex: 1;
    min-width: 250px;

    .logo {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: $color-red;
      text-decoration: none;

      &__img {
        height: 30px;
        width: auto;
        position: relative;
        top: 10px;
        right: 2px;
      }

      &__text {
        font-size: 30px;
        font-weight: bold;
        color: $color-red;
      }
    }

    p {
      color: #222;
      font-size: 18px;
      line-height: 1.4;
      max-width: 450px;
      font-weight: 500;
    }
  }

  .right {
    flex: 1;
    min-width: 250px;
    display: flex;
    flex-direction: flex-end;
    
    gap: 5rem;

    .section {
      strong {
        display: block;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      .icon-image {
        width: 40px;
        height: 40px;
        margin-right: 1.3rem;
        cursor: pointer;
      }

      .icon-image2 {
        width: 80px;
        height: 35px;
        margin-right: 0.5rem;
        cursor: pointer;
      }

      
    }
  }

  .copyright {
    width: 100%;
    text-align: right;
    margin-top: -1.2rem;
    font-size: 0.85rem;
    color: #555;
  }
}
